/* This was an alernate, but incorrect method to have the form hidden initially: */
/* #form {
  visibility: hidden;
} */

.card {
  text-align: center;
}

.card-header {
  font-weight: bold;
  font-size: 2rem;
  color: cadetblue ;
}

.card-title {
  font-weight: bold;
  font-size: 20px;
}

#sortButton {
  text-align: center;
}

.houses {
  margin: 50px;
}

/* .sort-style-button {
  background-color: rgba(17, 17, 251, 0.827);
  border-radius: 2rem; */
/* } */

/* .sortFilterButton {
  background-color: gold;
  margin-bottom: 50px;
} */
