body {
  background-image:url("https://wallpaperaccess.com/full/6510081.jpg");
  /* Alternate background below /*
  /* background-image:url("https://wallpapers.com/images/hd/magical-night-sky-with-ray-of-light-h8mff5a7ec2p6v86.jpg"); */
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  scale: 80%;
}

.navigationBar {
  opacity: 50%;
}

.Introduction {
  text-align: center;
}

.card-header {
  font-weight: bold;
  font-size: 4.2rem;
  color: cadetblue ;
  font-family: 'EB Garamond', serif;
  font-family: 'Jost', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Shadows Into Light', cursive;
}

#welcome {
  font-size: 1.5rem;
}

#filterHeader {
  color:azure;
  font-size: 3.5rem;
  text-shadow:
  0 0 4px #fff,
  0 0 11px #fff,
  0 0 19px #fff,
  0 0 40px rgb(181, 243, 255),
  0 0 80px rgb(219, 217, 218),
  0 0 90px rgb(213, 208, 210),
  0 0 100px rgb(143, 240, 240),
  0 0 150px rgb(0, 225, 255);
}

#inputNewStudent {
  font-size: 1.5rem;
}

#all, #gryffindor, #hufflepuff, #ravenclaw, #slytherin {
  font-size: 2rem;
}

#firstYears {
  color: azure;
  position: fixed left;
  font-family: 'EB Garamond', serif;
  font-family: 'Jost', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Shadows Into Light', cursive;
  text-shadow:
  0 0 4px #fff,
  0 0 11px #fff,
  0 0 19px #fff,
  0 0 40px rgb(181, 243, 255),
  0 0 80px rgb(219, 217, 218),
  0 0 90px rgb(213, 208, 210),
  0 0 100px rgb(143, 240, 240),
  0 0 150px rgb(0, 225, 255);
}

#voldArmy {
  color:rgb(255, 20, 20);
  font-size: 2rem;
  text-align: right;
  position: fixed right;
  font-family: 'EB Garamond', serif;
  font-family: 'Jost', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Shadows Into Light', cursive;
  text-shadow:
  0 0 4px #fff,
  0 0 11px #fff,
  0 0 19px #fff,
  0 0 40px rgb(255, 0, 76),
  0 0 80px rgb(255, 0, 89),
  0 0 90px rgb(255, 0, 89),
  0 0 100px rgb(255, 0, 55),
  0 0 150px rgb(255, 0, 43);
}

.card-title {
  font-weight: bold;
  font-size: 25px;
  font-family: 'EB Garamond', serif;
  font-family: 'Jost', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Shadows Into Light', cursive;
}

.card-text {
  font-size: 20px;
  weight: bold;
  font-family: 'EB Garamond', serif;
  font-family: 'Jost', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Shadows Into Light', cursive;
}

.flex-container {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  /* border: 1px solid azure; */
}

.flex-child-1 {
  flex: 1;
  margin-right: 50px;
  max-width: 50%;
  /* border: 1px solid azure; */
}  

.flex-child-2 {
  margin-left: 50px;
  max-width: 50%;
  /* border: 1px solid azure; */
} 

/* ******* UNUSED STYLES BELOW ******* /*
/* #sortButton {
  text-align: center;
  font-family: 'Jost', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Shadows Into Light', cursive;
} */

/* .houses {
  margin: 50px;
  color: rgb(0, 128, 255)
} */

/* .sort-style-button {
  background-color: rgba(17, 17, 251, 0.827);
  border-radius: 2rem; */
/* } */

/* .sortFilterButton {
  background-color: gold;
  margin-bottom: 50px;
} */

/* .card-container {
  border: 10px solid darkgrey;
  display: inline-block; 
  margin: 5px;
  padding-top: 20px;
  max-width: 100%;
} */

/* #studentCards {
  background-color: white;
  display: inline-block;
  border: 1px solid darkgrey;
  margin: 1%;
  width: 100%;
} */

/* #expelledCards {
  background-color: black;
  display: inline-block;
  border: 1px solid darkgrey;
  margin: 1%;
  width: 100%;
} */

/* .first-year-house {
  display: flex;
  justify-content: left;
}

.expelled {
  display: flex;
  justify-content: right;
} */

/* .container-max-widths {
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
}; */

/* .container-group {
  min-height: 300px;
  border: 1px solid darkgrey;
  margin: 3rem;
} */

/* .firstYears {
  border: 1px solid darkgrey;
  /* min-height: 300px; */
  /* width: 100%;
  display: inline-block;
  flex-flow: row wrap;
  text-align: center; */
/* }

/* #firstYearsTitle {
  color: green;
}

.voldArmy {
  border: 1px solid darkgrey;
  /* min-height: 300px; */
  /* width: 100%;
  display: flex;
  flex-flow: row wrap;
  text-align: center; */
/* } */

/* #voldemortArmy {
  text-align: center;
  color: darkred;
} */ 

/* .float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  border: 5px solid darkgrey;
  text-align: center;
  margin-bottom: 1.5rem;
  background-color: beige;
}   */

/* .container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(76, 18, 101);
  margin: 0px 75px 0px 75px;
  color: rgb(241, 241, 237);
  font-family: 'Sarabun', sans-serif;
  font-size: small;
} */

/* .container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(241, 241, 237);
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 75px;
} */
